body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.slideshow-container {
  position: relative;
}

.slideshow-container img {
  width: 100%;
  height: auto;
  display: none;
}